# Add account credentials and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable.
# For example, setting:
# GMAIL_USERNAME=Your_Gmail_Username
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

SENDGRID_USERNAME=Your_Username
SENDGRID_PASSWORD=Your_Password
DOMAIN_NAME=example.com
ADMIN_NAME=First User
ADMIN_EMAIL=user@example.com
ADMIN_PASSWORD=123456789
SITE_TITLE=AdminLTE Rails Template
SITE_DESCRIPTION=AdminLTE Rails Template
