web:
  build: .
  command: rails server -p 3000 -b '0.0.0.0'
  volumes:
    - .:/adminlte-rails-template
  ports:
    - "3000:3000"
  links:
    - postgres
postgres:
  image: postgres:9.4
  ports:
    - "5432"
